@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
  font-family: 'Rubik', sans-serif;
}
@media only screen and (min-width: 1000px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: white;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 8px;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e90d8b;
  }
}
button:focus, a:focus{
   outline:none;
}
.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.address{
    border: 1px dashed #eaeaec;
    box-shadow: 0 0 4px rgba(40,44,63,.08);
    height: 200px;
    width: 325px;
    padding:4rem;
    margin-bottom: 25px;
    vertical-align: top;
    border-radius: 4px;
    cursor: pointer;
}
.containerr {
  margin: 0 auto;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-fluid{
  padding-left: 5.2em;
  padding-right: 5.2em;
}
.input-bg{
  background-color: #F5F5F6;
}
.sw-toast-container .toasted.outline {
  border: none;
  border-radius: .125rem;
  padding:0.5rem;
  font-weight: normal;
  max-width:14rem;
}
